

body {
  background-color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif !important;
}

.myrowitem {
  background-color: white !important;
}

.tablecontainer {
  border: 2px solid #BEDCD7;
  border-radius: 50px;
}

.myrowitem td:first-child {
  padding-left: 18px;
  width: 200px;
  background-color: #def0ed;
  border-right: 2px solid #BEDCD7;
}

.myrowitem td:last-child {
  padding-right: 18px;
}

.b-table-details.myrowitem td:last-child {
  background-color: white !important;
  padding-right: 0px;
}

.b-table-details.myrowitem td:first-child {
  padding-left: 0px;
}

.table.b-table {
  background-color: #FFFFFF !important;
  border-collapse: collapse;
}

.subtitle {
  font-size: 19px;
  color: #292929 !important;
}

.subtitle__bold {
  font-weight: bold;
  font-size: 1.1rem;
}

.subtitle-smaller {
  font-size: 16px;
  color: #292929 !important;
}

.subtitle-smallest {
  font-size: 14px;
  color: #272727;
}

fieldset legend {
  font-weight: bold;
  font-size: 24px !important;
}

#login-card {
  background-color: transparent !important;
  border: none !important;
}

#login-card .card-title {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 0;
}

#login-card #subtitle {
  font-size: 20px;
  color: #292929 !important;
}

.primary-button {
  z-index: 1;
  padding-left: 45px;
  padding-right: 45px;
  background-image: linear-gradient(281deg, #E7EA75, #E1E628);
  border-color: transparent !important;
  border-radius: 10pt;
}

.primary-button .primary-button--text {
  color: #272727;
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 20pt;
}

.primary-button:hover {
  background-image: linear-gradient(281deg, #F0F2A8, #EDF081);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-button__White {
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1.5pt solid green;
  background-color: white;
  border-radius: 10pt;
  cursor: pointer;
}

.primary-button__White .primary-button--text {
  color: #272727;
  font-weight: bold;
  font-size: 20px;
}

.primary-button__White:hover:enabled {
  background-image: linear-gradient(289deg, #DEF0ED, #BEDCD7);
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5pt solid green;
}

.primary-button__Medium {
  z-index: 1;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: linear-gradient(281deg, #E7EA75, #E1E628);
  border-color: transparent !important;
  border-radius: 10pt;
}

.primary-button__Medium .primary-button--text {
  color: #272727;
  font-weight: 700;
  font-size: 20px;
}

.primary-button__Medium:hover {
  background-image: linear-gradient(281deg, #F0F2A8, #EDF081);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-button__Large {
  z-index: 1;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: linear-gradient(283deg, #E7EA75, #E1E628);
  border-color: transparent !important;
  border-radius: 10px;
}

.primary-button__Large .primary-button--text {
  color: #272727;
  font-weight: bold;
  font-size: 20px;
}

.primary-button__Large:hover {
  background-image: linear-gradient(281deg, #F0F2A8, #EDF081);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-button__Small {
  z-index: 1;
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-image: linear-gradient(111deg, #E7EA75, #E1E628);
  border-color: transparent !important;
  border-radius: 8px;
}

.primary-button__Small .primary-button--text {
  color: #272727;
  font-weight: 700;
  font-size: 16px;
}

.primary-button__Small:hover {
  background-image: linear-gradient(111deg, #F0F2A8, #EDF081);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-button__SmallWhite {
  z-index: 1;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: white !important;
  border-radius: 8px;
  border: 1.5px solid #1C6F62;
}

.primary-button__SmallWhite .primary-button--text {
  color: #272727;
  font-weight: 700;
  font-size: 16px;
}

.primary-button__SmallWhite:hover {
  background-image: linear-gradient(113deg, #DEF0ED, #BEDCD7);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-button__lightgreen, .primary-button__lightgreen--bold {
  z-index: 1;
  padding-left: 45px;
  padding-right: 45px;
  background-color: #b0b9ab !important;
  border-color: transparent !important;
  border-radius: 22px;
}

.primary-button__lightgreen .primary-button--text, .primary-button__lightgreen--bold .primary-button--text {
  color: #FCF6EF;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.5rem;
}

.primary-button__lightgreen--bold {
  font-weight: bold;
}

.primary-button__lightgreen:hover, .primary-button__lightgreen--bold:hover {
  background: linear-gradient(130deg, #7ac46e 0%, #6aaa60 100%);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.primary-button__lightgreen:hover .primary-button--text, .primary-button__lightgreen--bold:hover .primary-button--text {
  color: white;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.appointmentsubtitle {
  font-size: 26px;
  color: #272727;
  font-weight: 800;
}

.grid-button, .grid-button--bold {
  background-color: #4B8B84 !important;
  border-radius: 22px;
  color: white;
  font-size: 14px;
  height: 1%;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.grid-button--bold {
  font-weight: bold;
}

.text-small {
  font-size: 19px;
  color: #292929;
}

.link, .link__smaller {
  color: #4B8B84 !important;
  text-decoration: none;
  cursor: pointer;
}

.link {
  font-size: 19px;
}

.link__smaller {
  font-size: 16px;
}

.input-lineonly {
  border-right: 0px !important;
  border-left: 0px !important;
  border-top: 0px !important;
  border-bottom-color: #91908e;
  border-bottom-width: 2px;
  border-radius: 0px !important;
  -webkit-box-shadow: 0px 0px 1px #d9d5d0;
          box-shadow: 0px 0px 1px #d9d5d0;
  background-color: transparent !important;
  padding-left: 0px;
}

.input-lineonly:hover {
  border-bottom-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  /* Edge */
  font-style: italic;
  text-transform: lowercase;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: italic;
  text-transform: lowercase;
}

::-ms-input-placeholder {
  font-style: italic;
  text-transform: lowercase;
}

::placeholder {
  font-style: italic;
  text-transform: lowercase;
}

#login-card__container {
  margin-top: 65px;
}

#top-puzzle__container {
  right: 0;
  width: 115px;
  overflow: hidden;
}

#top-puzzle__container img {
  margin-right: -115px;
}

#bottom-puzzle__container {
  bottom: 0px;
  width: 115px;
  z-index: -2;
}

.step-progress__wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.step-progress__wrapper-before {
  background-color: grey;
  -webkit-transform: translateY(-50%) perspective(1000px);
          transform: translateY(-50%) perspective(1000px);
}

.step-progress__wrapper-after, .step-progress__wrapper-before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 12px;
  width: 100%;
}

.step-progress__wrapper-after {
  background-color: #7ac46e !important;
  -webkit-transform: scaleX(0) translateY(-50%) perspective(1000px);
          transform: scaleX(0) translateY(-50%) perspective(1000px);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.step-progress__bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.step-progress__step {
  z-index: 2;
  position: relative;
  --activeColor:#7ac46e !important;
  --passiveColor:grey;
  --activeBorder:5px;
  --passiveBorder:5px;
}

.step-progress__step span {
  display: none;
}

.step-progress__step--active .step-progress__step-label, .step-progress__step--active span {
  color: var(--activeColor);
}

.step-progress__step--active .step-progress__step-icon {
  opacity: 1;
}

.step-progress__step--valid .step-progress__step-icon {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
          transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
}

.step-progress__step--valid span {
  color: var(--activeColor);
  opacity: 0;
  -webkit-transform: translateZ(0) scale(2) perspective(1000px);
          transform: translateZ(0) scale(2) perspective(1000px);
  font-size: 18px !important;
}

.step-progress__step--valid .step-progress__step-label {
  color: var(--activeColor);
}

.step-progress__step:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) perspective(1000px);
          transform: translate(-50%, -50%) perspective(1000px);
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: var(--passiveBorder) solid var(--passiveColor);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.step-progress__step--active:after, .step-progress__step--valid:after {
  border: var(--activeBorder) solid var(--activeColor);
}

.step-progress__step--valid:after {
  background-color: var(--activeColor);
}

.step-progress__step-label {
  display: none;
}

.step-progress__step-icon {
  font-size: 36px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  opacity: 0;
  -webkit-transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
          transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
}

.step-progress__wrapper {
  width: 30% !important;
  margin-left: 15px !important;
}

.step-progress__bar {
  margin-bottom: 0px !important;
  height: 50px !important;
}

@media (max-width: 768px) {
  .step-progress__step span {
    font-size: 14px;
  }
  .step-progress__step:after {
    width: 10px;
    height: 10px;
  }
  .step-progress__step-icon {
    font-size: 22px;
  }
  .step-progress__wrapper {
    width: 100% !important;
    margin-left: 0px !important;
  }
  #forgot-password-background {
    background-position-x: 0px;
    background-position-y: 50%;
  }
}

#forgot-password-background, #create-password-background, #create-password-background1, #create-password-background2 {
  width: 414px;
  height: 316px;
  background-repeat: no-repeat;
}

#create-password-background2 {
  position: absolute;
  left: 15%;
  z-index: 1;
}

#create-password-background1 {
  position: relative;
  z-index: 0;
  left: 15px;
}

.step-progress__step--active span {
  display: none;
}
.mytable thead.transparent {
  background-color: #FCF6EF;
}

.mytable thead.transparent tr th div {
  font-size: 1.1rem;
  font-weight: bold !important;
}

.vc-title {
  font-size: 1.1rem !important;
  font-weight: bold !important;
  color: #292929 !important;
}

.mycontainer {
  min-height: 90vh !important;
}

.vc-arrow {
  color: #292929 !important;
}

.vc-arrow svg.vc-svg-icon {
  height: 30px !important;
  width: 30px !important;
}

svg.vc-svg-icon {
  height: 15px !important;
  width: 15px !important;
}

.vc-header {
  padding-top: 12px !important;
}

.vc-container {
  background-color: #B0B9AB !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  border: 0 !important;
  padding: 24px !important;
}

.calendar-title {
  width: 100%;
  border-top-left-radius: 50px;
  background-color: #B0B9AB;
  border-top-right-radius: 50px;
  margin-bottom: -1px;
  padding-top: 30px;
  font-size: 24px !important;
}

.vc-day-content.tomorrow, span.btn.border-0.rounded-circle.text-nowrap.active.btn-primary.font-weight-bold {
  background-color: white !important;
}

.vc-dot {
  background-color: white !important;
}

.providerName {
  margin-bottom: 3px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.personalStatement {
  font-size: 13px;
  margin-bottom: 0px;
  max-width: 150px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  color: #292929;
}

#mydatepicker__outer_ {
  border-radius: 22px;
  background-color: #B0B9AB;
}

#mydatepicker__dialog_, .b-calendar-grid-caption, .b-calendar-grid-weekdays, .b-calendar-grid-body, .b-calendar-grid-help, .b-calendar-header {
  background-color: #B0B9AB;
}

span.btn.border-0.rounded-circle.text-nowrap.active.btn-primary.font-weight-bold {
  color: #292929;
}

#mydatepicker__value_ {
  font-weight: bold;
}

/*Phone View */
@media (min-width: 321px) and (max-width: 767px) {
  .login-card__container {
    width: 171px;
    height: 139px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
  }
  .myrowitem td:first-child {
    float: left;
  }
  .myrowitem td:last-child {
    clear: both;
    width: 100% !important;
  }
  .myrowitem td:last-child > div {
    width: 100% !important;
  }
  .myrowitem {
    border-radius: 50px;
    margin-bottom: 10px;
  }
  .grid-button, .grid-button--bold {
    border-radius: 10px;
  }
  #button-map, #button-profile {
    margin-bottom: 10px;
  }
  #button-bookappointment {
    width: 100%;
  }
  #button-map {
    width: 100%;
    float: none;
  }
  #button-profile {
    width: 100%;
    float: none;
  }
  .personalStatement {
    width: 200px !important;
  }
  #createappointmentcontainer {
    text-align: center;
  }
  #createappointmentbutton {
    font-size: 20px;
    width: 307px;
    font-weight: 600;
    border-radius: 50px;
  }
  .appointmentsubtitle {
    width: 100%;
    text-align: center;
  }
  .table.b-table.b-table-stacked-md > tbody > tr > [data-label]::before {
    content: normal !important;
  }
  .table.b-table.b-table-stacked-md > tbody > tr > :first-child, .table.b-table.b-table-stacked-md > tbody > tr > [data-label] > div {
    width: 100%;
    text-align: center;
  }
  .table.b-table.b-table-stacked-md > tbody > tr > :first-child {
    font-weight: bold;
  }
  .grid-button, .grid-button--bold {
    width: 90%;
    border-radius: 50px;
  }
  #create-password-background2 {
    position: absolute;
    left: 15%;
  }
  #appointmentinfo-container {
    margin-left: 15px;
    margin-right: 15px;
  }
  .modality {
    width: 100%;
  }
}

select.input-lineonly {
  background: transparent url("../../assets/images/dropdown-arrow__down.png") no-repeat right !important;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.table-light,
.table-light > th,
.table-light > td {
  background-color: transparent !important;
}

.title-row--center {
  text-align: center;
}

.mytable thead.transparent--smaller tr th div {
  font-size: 11px;
  font-weight: normal !important;
}

#appointmentinfo-container {
  border-radius: 50px;
  background-color: #e6eae4;
  padding-top: 4%;
  padding-bottom: 4%;
  min-height: 400px;
}

.addlink {
  color: black;
}

.addlink :hover {
  color: blue;
}

.w-50 {
  width: 50%;
}

.profileimage--container {
  border-radius: 50%;
  background-color: #B0B9AB  !important;
  width: 135px;
  height: 135px;
  text-align: center;
  overflow: hidden;
  float: left;
}

.imagecontainer {
  border-radius: 50%;
  background-color: #B0B9AB  !important;
  width: 300px;
  height: 300px;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

.mytablecontainer {
  height: 80vh;
  overflow-y: scroll;
}

.provider-details-ps {
  word-wrap: break-word;
}

.modality {
  width: 100px;
  word-wrap: break-word;
}

.location {
  word-wrap: break-word;
}

.time {
  text-align: center;
}

.filenumber, .startdate, .clinicalname {
  text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #8E8C8C !important;
  font-size: 20px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #46874B !important;
}

.circlecolumn {
  max-width: 2.3%;
}

.btn {
  -webkit-transition: none !important;
  transition: none !important;
}

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/* All modal Styles */
#cancelModal___BV_modal_header_ {
  border-bottom: 0;
  margin-bottom: 30px;
}

.btn.btn-link:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#cancelModalPreview___BV_modal_header_ {
  border-bottom-width: 0px !important;
  padding-top: 64px !important;
  padding-bottom: 21px !important;
}

#cancelModalPreview___BV_modal_content_ {
  padding-left: 100px;
  padding-right: 100px;
}

#cancelModalPreview___BV_modal_content_ .col-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#cancelModalPreview___BV_modal_body_ {
  padding-top: 0 !important;
  padding-bottom: 44px;
}

#successPopup___BV_modal_header_ {
  border-bottom-width: 0px !important;
  padding-top: 64px !important;
  padding-bottom: 21px !important;
}

#successPopup___BV_modal_content_ {
  padding-left: 94px;
  padding-right: 94px;
}

#successPopup___BV_modal_content_ .col-12 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#successPopup___BV_modal_body_ {
  padding-top: 0 !important;
  padding-bottom: 44px;
}

#successbooked___BV_modal_header_ {
  border-bottom: 0;
  margin-bottom: 30px;
}

.btn.btn-link:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#choosedifflocpopup___BV_modal_header_ {
  border-bottom: 0px !important;
  display: block !important;
  padding-bottom: 0px;
}

#choosedifflocpopup___BV_modal_body_ {
  padding-top: 9px;
}

#choosedifflocpopup___BV_modal_content_ {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#sidebar-right {
  width: 503px;
  margin-top: 112px;
}

.mysidebar--header {
  margin-top: 42px;
  margin-bottom: 32px;
}

.mysidebar--header .close {
  margin-left: auto;
  margin-right: 0px !important;
  width: 14px;
  height: 14px;
}

.mysidebar--header .close:hover {
  outline: 0px !important;
  outline: 0px !important;
}

.sidebar--bigtitle {
  font-size: 26px;
  color: #000000;
  font-weight: bold;
}

.sidebar--subtitle {
  font-size: 18px;
  color: #000000;
}

.sidebar--subtitle__bold {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
}

.topic.sidebar--subtitle__bold {
  margin-bottom: 32px;
}

#sidebar--header {
  margin-bottom: 34px;
}

.mysidebar--body {
  padding-left: 54px;
  padding-right: 37px;
}
/*# sourceMappingURL=client.css.map */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>New CSS Rules<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Buttons  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* Primary Button -- Yellow */
#logout__rootcontainer .logout__container .nav-link .btn {
  background-image: linear-gradient(281deg, #E7EA75, #E1E628);
  border: 0.125rem solid transparent;
  border-radius: 8px;
  color: #272727;
  height: 40px;
  padding: 9px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logout__rootcontainer .logout__container .nav-link .btn:hover {
  background: linear-gradient(106deg, #F0F2A8 0%, #EDF081 100%);
}

#logout__rootcontainer .logout__container .nav-link .btn span {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
/* Secondary Button -- Green */
.button--secondary {
  min-width: 104px !important;
  background-color: #FFFFFF !important;
  min-height: 56px !important;
  border: 2px solid #1C6F62 !important;
  border-radius: 10px !important;
  padding: 15px 40px !important;
}

.button--secondary:hover, .button--secondary:active {
  background-image: linear-gradient(289deg, #DEF0ED, #BEDCD7) !important;
}

.button--secondary span {
  font-family: "Nunito Sans", sans-serif !important;
  color: #272727 !important;
  font-size: 20px !important;
  font-weight: 800 !important;
}

.button--secondary.disabled, .button--secondary:disabled {
  background: #E4E4E4 !important;
  border: 2px solid #BBBBBB !important;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Header and Progressbar <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.navbar__container .navigation__brand{
  margin-right: 0;
}

@media (min-width: 1024px) {
  .navbar__container .navigation__brand{
    margin-right: 16px;
  }
}

#fixedtitle{
  display: none;
}

.navicon__desktop{
  display: none !important;
}

@media (min-width: 1024px) {
  .navicon__desktop{
    display: flex !important;
  }
}

.navbar__container .navicon__mobile{
  flex-direction: row;
}

@media (min-width: 768px) {
  .navbar__container .navicon__mobile {
    margin-left: 44vw;
  }
}

@media (min-width: 1024px) {
  .navbar__container .navicon__mobile {
    display: none !important;
    margin-left: 0;
  }
}

.navicon__mobile .nav-item {
  border-top: none;
}

.navicon__mobile .nav-item.faq__container {
  display: none;
}


@media (min-width: 1024px) {
  #fixedtitle {
    display: block;
  }
}

/* If Sibiling A has all class names of .navbar-collapse .collapse .show then Sibiling B display block */
.navbar-collapse.collapse.show ~ .contactinfo__wrapper{
  display: block !important;
  margin-top: 40px;
  padding-bottom: 50vh;
}

@media (min-width: 1024px) {
  .navbar-collapse.collapse.show ~ .contactinfo__wrapper{
    display: none !important;
  }
}

.navbar-collapse.collapse.show ~ .contactinfo__wrapper a, .navbar-collapse.collapse.show ~ .contactinfo__wrapper p{
font-size: 14px;
font-family: "Nunito Sans", sans-serif !important;
color: #272727;
margin-bottom: 0;
}

.navigation__wrapper{
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
}

#container {
  position: fixed;
  top: 75px;
  z-index: 1;
}

@media (min-width: 1024px) {
  #container {
    top: 106px;
  }
}

/* Header */
#app .header {
  border-bottom: none;
  box-shadow: none;
}

body .navbar {
  background-color: #FFFFFF !important;
  box-shadow: none !important;
  border-bottom: none !important;
  /* height: 100vh;
  display: flex;
  flex-direction: column; */
}

/* @media (min-width: 1024px ) {
  .body .navbar {
    height: unset;
    flex-direction: unset;
  }
} */

.navbar .container .navbar-toggler{
  border: none;
  outline: none;
  z-index: 1000000;
  border-left: 2px solid black;
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar .container .navbar-toggler:active{
  outline: none;
}

.navbar .container .navbar-collapse.show{
  overflow-y: scroll;
  margin-top: 50px;
}

.navbar .container .navbar-collapse{
  margin-top: 50px;
}

@media (min-width: 1024px ) {
  .navbar .container .navbar-collapse{
    margin-top: unset;
  }
}

.nav-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #BBBBBB;
}

@media (min-width: 1024px ) {
  .nav-item{
    border-top: none;
  }
}

.navigation__leftpanel .nav-item:last-child{
  border-bottom: 1px solid #BBBBBB;
}

@media (min-width: 1024px ) {
  .navigation__leftpanel .nav-item:last-child{
    border-bottom: none;
  }
}

@media (min-width: 1024px ) {
  .nav-item{
    justify-content: center;
  }
}

/* Navigation Text */
.nav-item .nav-link p {
  font-size: 16px;
  color: #272727;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 0;
}

.nav-item .nav-link p:hover {
  background: linear-gradient(0deg, #E7EA75 50%, transparent 0%);
}

/* Header Icons */
.nav-item .nav-link .searchicon__button, .nav-item .nav-link .faq__button, .nav-item .nav-link .profile__button {
  background: white;
  border: none;
}

.nav-item .nav-link .searchicon__button:active, .nav-item .nav-link .faq__button:active, .nav-item .nav-link .profile__button:active {
  background-color: white !important;
  border-color: white !important;
  background-image: unset !important
}

#myNavItem .dropdown-toggle:after{
  display: none;
}

/* Logout Button */
#logout__rootcontainer .logout__container{
  list-style-type: none;
  border: none;
}

#logout__rootcontainer .logout__container .nav-link .btn {
  background-image: linear-gradient(281deg, #E7EA75, #E1E628);
  border: 0.125rem solid transparent;
  border-radius: 8px;
  color: #272727;
  height: 40px;
  padding: 9px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logout__rootcontainer .logout__container .nav-link .btn:hover {
  background: linear-gradient(106deg, #F0F2A8 0%, #EDF081 100%);
}

#logout__rootcontainer .logout__container .nav-link .btn span {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#logout__rootcontainer{
  border: none;
}

@media (min-width: 1024px ) {
  #logout__rootcontainer{
    border-left: 2px solid #272727;
  }
}

#logout__rootcontainer .logout__container .nav-link{
  padding-left: 0;
}

@media (min-width: 1024px ) {
  #logout__rootcontainer .logout__container .nav-link{
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* #nav-collapse2 {
  padding-bottom: 100vh;
} */

@media (min-width: 1024px ) {
  #nav-collapse2 {
    padding-bottom: unset;
  }
}

/* Progressbar */
#app #progressbar {
  background-color: #1C6F62;
}

/* Progress Menu Container */
.progress-menu__wrapper{
  margin-top: 309px;
}

#progressbar{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Dashboard <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.dashboard__title__row{
  position: fixed;
  z-index: 100;
  background-color: white;
  top: 0;
  margin-top: 0 !important;
  padding-top: 120px !important;
}

@media (min-width: 768px ) {
  .dashboard__title__row{
    position: fixed;
    z-index: 100;
    background-color: white;
    top: 0;
    margin-top: 71px !important;
    padding-top: 0 !important;
  }
}

@media (min-width: 992px ) {
  .dashboard__title__row{
    top: 35px;
    height: 200px;
    width: 960px;
  }
}

@media (min-width: 1240px ) {
  .dashboard__title__row{
    width: 1140px;
  }
}

.dashboard__title__row .dashboard__title__column{
  flex: 0 0 60%;
  max-width: 60%;
}

@media (min-width: 768px ) {
  .dashboard__title__row .dashboard__title__column{
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 1024px ) {
  .dashboard__title__column{
    margin-top: 112px;
  }
}

@media (min-width: 1024px ) {
  #createappointmentcontainer{
    margin-top: 112px;
  }
}

.dashboard__paragraph{
  font-size: 26px !important;
}

@media (min-width: 1024px ) {
  .dashboard__paragraph{
    font-size: 32px !important;
  }
}


#firstrow #createappointmentcontainer {
  flex-basis: 100%;
  max-width: 100%;
  text-align: left!important;
}

@media (min-width: 1024px ) {
  #firstrow #createappointmentcontainer{
    flex-basis: unset;
    max-width: 50%;
    text-align: right!important;
  }
}

/* Create new appointment button */
#createappointmentbutton{
  padding: 16px 45px;
  border-radius: 10px;
  width: unset;
}

#app.mycontainer{
  min-height: unset !important;
}

.mycontainer .container{
  margin-top: 110px;
  padding-left: 36px;
}

@media (min-width: 1024px ) {
  .mycontainer .container{
    padding-left: 15px;
  }
}

.apptable{
  padding-right: 36px;
}

@media (min-width: 1024px ) {
  .apptable{
    padding-right: unset;
  }
}

#firstgridcontainer {
  margin-left: 0;
  margin-top: 200px;
}

#firstgridcontainer > div {
  padding-left: 0;
}

@media (min-width: 1024px ) {
  #firstgridcontainer > div{
    padding-left: 15;
  }
}

#secondgridcontainer > div{
  padding-left: 0;
}

@media (min-width: 1024px ) {
  #secondgridcontainer > div{
    padding-left: 15;
  }
}

#firstgridcontainer > div > div:nth-child(3){
  justify-content: flex-start;
  margin-left: 0;
}

@media (min-width: 1024px ) {
  #firstgridcontainer > div > div:nth-child(3){
    margin-left: -15;
  }
}

#secondgridcontainer > div > div:nth-child(3){
  justify-content: flex-start;
  margin-left: 0;
}

@media (min-width: 1024px ) {
  #secondgridcontainer > div > div:nth-child(3){
    margin-left: -15;
  }
}

#secondgridcontainer .fourthcolumn .btn-outline-success{
  display: none;
}

@media (min-width: 768px ) {
  #secondgridcontainer .fourthcolumn .btn-outline-success{
    display: block;
  }
}

#firstgridcontainer .secondcolumn .apptbutton{
  margin-left: 30px !important;
  display: block;
}

@media (min-width: 768px ) {
  #firstgridcontainer .secondcolumn .apptbutton{
    display: none;
  }
}

#secondgridcontainer .secondcolumn__narrow .apptbutton {
  margin-left: 30px !important;
  display: block;
}

@media (min-width: 768px ) {
  #secondgridcontainer .secondcolumn__narrow .apptbutton{
    display: none;
  }
}

#firstgridcontainer .fourthcolumn .showdetail-button, #secondgridcontainer .fourthcolumn .showdetail-button{
  display: block;
  margin-top: 5px;
}

@media (min-width: 768px ) {
  #firstgridcontainer .fourthcolumn .showdetail-button, #secondgridcontainer .fourthcolumn .showdetail-button{
    display: none;
  }
}

.appointmentsubtitle {
  text-align: left !important;
  font-size: 20px;
}

@media (min-width: 1024px) {
  .appointmentsubtitle {
    font-size: 26px;
  }
}

#secondgridcontainer {
  margin-left: 0;
}

#firstgridcontainer > div > div:nth-child(3) .circlecolumn {
  flex-basis: 10%;
  padding-left: 0;
}

#secondgridcontainer > div > div:nth-child(3) .circlecolumn {
  flex-basis: 10%;
  padding-left: 0;
}

#firstgridcontainer > div > div:nth-child(3) > div:nth-child(2) {
  flex-basis: 90%;
}

#secondgridcontainer > div > div:nth-child(3) > div:nth-child(2) {
  flex-basis: 90%;
}

.apptable .topleft{
  border-top-left-radius: 20px !important;
}

.apptable .topright{
  border-top-right-radius: 20px !important;
  height: 22px;
} 

.apptable .bottomleft{
  border-bottom-left-radius: 20px !important;
}

.apptable .bottomright{
  border-bottom-right-radius: 20px !important;
  height: 22px;
}

.apptable-rowdetails p{
  max-width: 90px;
  font-size: 14px;
}

@media (min-width: 1024px ) {
  .apptable-rowdetails p{
    max-width: unset;
    font-size: 18px;
  }
}

/* CTA Button */
td .apptbutton {
  min-width: 143px !important;
  background-color: #FFFFFF !important; 
  min-height: 56px !important;
  border: 2px solid #1C6F62 !important;
  border-radius: 8px !important;
  padding: 9px 16px !important;
  margin-right: 23px!important;
  margin-left: 5px!important;
  margin-top: 0px!important;
}

td .apptbutton:hover, .apptbutton:active {
  background-image: linear-gradient(289deg, #DEF0ED, #BEDCD7) !important;
}

td .apptbutton span {
  font-family: "Nunito Sans", sans-serif !important;
  color: #272727 !important;
  font-size: 20px !important;
  font-weight: 800 !important;
}

td .apptbutton.disabled, .apptbutton:disabled {
  background: #E4E4E4 !important;
  border: 2px solid #BBBBBB !important;
}
/* Upcoming Appointments Table */
#firstgridcontainer .secondcolumn{
  display: contents;
}

#firstgridcontainer table .secondcolumn .counseling{
  margin-top: 18px;
  font-size: 14px !important;
}

@media (min-width: 1024px ) {
  #firstgridcontainer table .secondcolumn .counseling{
    font-size: 18px !important;
  }
}

#firstgridcontainer .firstcolumn {
  padding-top: 8px;
}

#firstgridcontainer .thirdcolumn .showdetail-button {
  margin-top: 11px;
  display: none;
}

@media (min-width: 768px) {
  #firstgridcontainer .thirdcolumn .showdetail-button  {
    display: block;
  }
}

#secondgridcontainer .thirdcolumn .showdetail-button {
  margin-top: 2px !important;
  display: none;
}

@media (min-width: 768px) {
  #secondgridcontainer .thirdcolumn .showdetail-button {
    display: block;
  }
}

#firstgridcontainer .fourthcolumn .apptbutton {
  margin-top: 2px !important;
  display: none;
}

@media (min-width: 768px) {
  #firstgridcontainer .fourthcolumn .apptbutton {
    display: block;
  }
}

.firstcolumn strong {
  margin-right: 8px;
  font-size: 14px;
}

@media (min-width: 1024px ) {
  .firstcolumn strong {
    font-size: 18px;
  }
}

/* Past Appointments Table */
/* First Column : Time/Date Column */
.firstcolumn{
  padding-top: 11px;
}

table .firstcolumn {
  width: 113px !important;
}

@media (min-width: 768px) {
  table .firstcolumn {
    width: 192px !important;
  }
}

@media (min-width: 1024px) {
  table .firstcolumn {
    width: 237px !important;
  }
}

/* Second Column */
/* .counseling is for next appointments and .secondcolumn__narrow is for past appointments */
.secondcolumn__narrow{
  display: contents;
}

.apptable-container table .secondcolumn__narrow .counseling{
  margin-top: 24px;
  font-size: 14px;
}

@media (min-width: 1024px ) {
  .apptable-container table .secondcolumn__narrow .counseling{
    font-size: 18px;
  }
}

/* Show details button */
.showdetail-button{
  margin-top: 17px;
}

/* Cancel Appointment Modal */
@media (min-width: 768px) {
  #cancelModalPreview .modal-dialog {
    max-width: 80vw;
  }
}

@media (min-width: 1024px) {
  #cancelModalPreview .modal-dialog {
    max-width: 60vw;
  }
}


#cancelModalPreview___BV_modal_content_{
  padding: 30px 25px;
  margin-top: 70px;
}

@media (min-width: 667px) {
  #cancelModalPreview___BV_modal_content_{
    margin-top: 50px;
  }
}

#cancelModalPreview___BV_modal_backdrop_{
  width: 150vw;
  height: 150vh;
}

#cancelModal___BV_modal_backdrop_{
  width: 150vw;
  height: 150vh;
}

#cancelModal___BV_modal_body_ #message {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}

@media (min-width: 768px) {
  #cancelModal___BV_modal_body_ #message {
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
  }
}


#cancelModalPreview .apptable {
  padding-right: 0;
}

#cancelModalPreview #cancelModalPreview___BV_modal_header_ {
  padding-top: 0 !important;
}

@media (min-width: 768px) {
  #cancelModalPreview #cancelModalPreview___BV_modal_header_ {
    padding-top: 38px !important;
  }
}

@media (min-width:  1024px) {
  #cancelModalPreview #cancelModalPreview___BV_modal_header_ {
    padding-top: 64px !important;
  }
}

#cancelModalPreview___BV_modal_header_ #closeModal{
  margin-right: -30px;
  margin-top: -10px;
}

#cancelModalPreview___BV_modal_header_ .bigtitle{
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
}

@media (min-width:  768px) {
  #cancelModalPreview___BV_modal_header_ .bigtitle{
    font-family: "Nunito Sans", sans-serif;
    font-size: 26px;
  }
}

#cancelModalPreview___BV_modal_body_ .subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
}

@media (min-width:  768px) {
  #cancelModalPreview___BV_modal_body_ .subtitle {
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
  }
}

@media (min-width:  1024px) {
  #cancelModalPreview___BV_modal_body_ .subtitle {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
  }
}

#cancelModalPreview___BV_modal_body_ .firstcolumn__preview {
  width: 30%;
}

@media (min-width:  1024px) {
  #cancelModalPreview___BV_modal_body_ .firstcolumn__preview {
    width: 20%;
  }
}

#cancelModalPreview___BV_modal_body_ .secondcolumn__preview{
  width: 70%;
}

@media (min-width:  1024px) {
  #cancelModalPreview___BV_modal_body_ .secondcolumn__preview{
    width: 80%;
  }
}

#cancelModalPreview___BV_modal_body_ .cancel-action__container {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}

@media (min-width:  768px) {
  #cancelModalPreview___BV_modal_body_ .cancel-action__container{
    justify-content: flex-end;
  }
}

#cancelModalPreview___BV_modal_body_ .cancel-action__container .btn-link {
  font-size: 16px;
}

@media (min-width:  1024px) {
  #cancelModalPreview___BV_modal_body_ .cancel-action__container .btn-link {
    font-size: 20px;
  }
}

#cancelModalPreview___BV_modal_body_ .cancel-action__container .btn-secondary .primary-button--text {
  font-size: 16px;
}

@media (min-width:  1024px) {
  #cancelModalPreview___BV_modal_body_ .cancel-action__container .btn-secondary .primary-button--text  {
    font-size: 20px;
  }
}

#cancelModalPreview .apptable-rowdetails p {
  max-width: unset;
}

/* #cancelModalPreview{
  top: 70px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Book a consultation first level and Second Level <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* Overall Wrapper */
#app .page__wrapper{
  max-width: 1140px;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;
}

@media (min-width: 768px){
  #app .page__wrapper{
    justify-content: unset;
    margin-right: auto;
    margin-left: auto;
  }
}

#categorylist {
  padding-left: 0;
}

/* General Layout - Container of the progress menu and questions and answers */
.container-fluid > div > div {
  align-self: stretch;
}

/* Progress menu */
#app .progress-menu__wrapper{
  position: fixed;
  display: none;
}

@media (min-width: 1024px) {
  #app .progress-menu__wrapper{
    display: block;
  }
}
/* Right Column of title and choices */
/* Title and choices buttons container */
.main-content__wrapper {
  margin-top: 190px;
  flex: 0 0 75% !important;
  max-width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .main-content__wrapper {
    flex: 0 0 75% !important;
    max-width: 75% !important;
  }  
}

@media (min-width: 1024px) {
  .main-content__wrapper{
    margin-left: 284px;
    margin-right: 0;
  }
}

.category-column{
  margin-bottom: 20px;
}

@media (min-width: 1240px) {
  .category-column{
    margin-bottom: unset;
  }
}

.footer__container{
  padding-left: 50px;
  padding-right: 300px;
}

@media (min-width: 1024px) {
  .footer__container{
    padding-left: unset;
    padding-right: unset;
  }
}


.footer__container .footer__nextbuttoncontainer{
  flex: 0 0 75%;
  max-width: 75%;
  text-align: unset !important;
}
/* Mobile Landscape */
@media (min-width: 667px) {
  .footer__container .footer__nextbuttoncontainer{
    flex: 0 0 15%;
    max-width: 15%;
    text-align: right;
  }
}
@media (min-width: 1024px) {
  .footer__container .footer__nextbuttoncontainer{
    flex: 0 0 55%;
    max-width: 55%;
  }
}

@media (min-width: 1240px) {
  .footer__container .footer__nextbuttoncontainer{
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.container-fluid > div > div:nth-child(2) > div > div {
  margin-bottom: 50vh;
}

.bigtitlecontainer{
  position: fixed;
  background: white;
  z-index: 100;
  top: 0;
  padding-top: 100px;
}

@media (min-width: 768px) {
  .bigtitlecontainer{
    padding-top: 150px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .bigtitlecontainer{
    padding-top: 200px;
  }
}

.bigtitlecontainer, .category-row{
  padding-left: 0;
  justify-content: center;
}

@media (min-width: 768px) {
  .bigtitlecontainer, .category-row{
    justify-content: unset;
  }
}

@media (min-width: 1024px) {
  .bigtitlecontainer, .category-row{
    padding-left: 15px;
  }
}

/* Title and Question icon */
.bigtitlecontainer div {
  width: auto;
  height: auto;
  flex: unset;
}
/* Title Container */
.bigtitlecontainer div:first-child {
  padding-left: 0;
  max-width: 100%;
  font-size: 26px;
}

@media (min-width: 1240px) {
  .bigtitlecontainer div:first-child {
    font-size: 32px;
  }
}
/* Question icon container */
.bigtitlecontainer div:nth-child(2) {
  padding-left: 0;
}

.bigtitlecontainer div:nth-child(2) img {
  filter: brightness(0) saturate(100%) invert(31%) sepia(79%) saturate(420%) hue-rotate(121deg) brightness(94%) contrast(85%);
}
/* Choices buttons containers */
#app .category-row {
  margin-bottom: 0;
  margin-top: 100px;
}

@media (min-width: 1024px) {
  #app .category-row{
    margin-bottom: 0;
  }
}

@media (min-width: 1240px) {
  #app .category-row{
    margin-bottom: 20px;
  }
}

.category-row div {
  flex-grow: unset;
  flex-basis: 265px;
  padding-right: 11px;
  padding-left: 0;
}

@media (min-width: 1240px) {
  .category-row div{
    margin-bottom: 20px;
  }
}

/* Right Info Sidebar */
#sidebar-right .b-sidebar-header{
  align-items: center;
  justify-content: flex-end;
}

#sidebar-right .b-sidebar-header .close{
  margin: 0;
  flex-basis: 13%;
}

#sidebar-right .b-sidebar-header .close {
  opacity: unset;
}

#sidebar-right .b-sidebar-header .close svg{
  fill:#1C6F62;
  height: 1.5em;
  width: 1.5em;
}

#sidebar-right:after{
  content:'';
  display: inline-block;
  top: 10%;
  height: 100%;
  width: 500vw;
  transform: translate(-100%, -10%);
  position: absolute;
  z-index: 1034;
  background: #BBBBBB 0% 0% no-repeat padding-box;
  opacity: 0.33;
}

.modality__listcolumn {
  margin-bottom: 14px;
}

@media (min-width: 1024px) {
  .additional-info__wrapper{
    padding-left: 15px;
  }
}

.subtitle__column{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-top: 40px;
}

@media (min-width: 1024px) {
  .subtitle__column{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0;
  }
}

.additional-info__action__column{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media (min-width: 1024px) {
  .additional-info__action__column{
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contactmeinput{
    width: 100% !important;
}

@media (min-width: 1024px) {
  .contactmeinput{
    width: 541px !important;
  }
}

.circlecolumn{
  padding-left: 0 !important;
}

@media (min-width: 1024px) {
  .circlecolumn{
    padding-left: 15px;
  }
}

.additional-info__footer__container{
  flex-wrap: nowrap !important;
}

#sidebar-right{
  background: white !important;
}
.mysidebar--body{
  margin-bottom: 200px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Select Location Page <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
/* I'm Interested in diffrent location checkbox wrapper */
#app .custom-control{
  z-index: 0;
  padding-bottom: 115px;
}

.modal-dialog #choosedifflocpopup___BV_modal_content_{
  padding-left: 27px;
  padding-right: 27px;
}

@media (min-width: 768px) {
  .modal-dialog #choosedifflocpopup___BV_modal_content_{
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1024px) {
  .modal-dialog #choosedifflocpopup___BV_modal_content_{
    padding-left: 105px;
    padding-right: 105px;
  }
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
#app .container-fluid > div > div:nth-child(2) > div:nth-child(2){
  height: 234px !important;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%);
  width: 100%;
  position: fixed;
  bottom: 0;
}

#app footer {
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(255,255,255,1) 50%);
  width: 818px;
  bottom: 0;
  height: 234px;
  left: 0;
}

@media (min-width: 1024px) {
  #app footer {
    left: unset;
  }
}

footer div {
  justify-content: space-between;
  margin-top: 55px;
}

@media (min-width: 768px) {
  footer .footer__backbuttoncontainer{
    padding-left: 50px;
  }
}

@media (min-width: 1024px) {
  footer .footer__backbuttoncontainer{
    padding-left: 0;
  }
}


footer div div:nth-child(2){
  display: none;
}

footer .footer__backbuttoncontainer a{
  padding-left: 0;
}
/* Back link */
#leftbutton{
  padding: 15px 12px;
}

#leftbutton:hover svg{
  margin-left: -2px;
}

#leftbutton:hover span{
  margin-left: 2px;
}

footer #leftbutton:hover, #leftbutton:active {
  background-image: none !important;
}

a#leftbutton.disabled svg{
  fill: #BBBBBB !important;
}

a#leftbutton.disabled span{
  color: #BBBBBB !important;
}

footer a svg{
  fill: #1C6F62;
}

footer a:active span{
  color: #1C6F62;
}
/* continue button */
footer .btn-secondary{
  min-width: 104px !important;
  background-color: #FFFFFF !important;
  min-height: 56px !important;
  border: 2px solid #1C6F62 !important;
  border-radius: 10px !important;
  padding: 15px 40px;
}

footer .btn-secondary:hover, .btn-secondary:active {
  background-image: linear-gradient(289deg, #DEF0ED, #BEDCD7) !important;
}

footer .btn-secondary span {
  font-family: "Nunito Sans", sans-serif !important;
  color: #272727 !important;
  font-size: 16px !important;
  font-weight: 800 !important;
}

@media (min-width: 1024px) {
  footer .btn-secondary span {
    font-size: 20px !important;
  }
}

footer .btn-secondary.disabled, .btn-secondary:disabled {
  background: #E4E4E4 !important;
  border: 2px solid #BBBBBB !important;
  color: #BBBBBB !important;
}

footer .btn-secondary.disabled, .btn-secondary:disabled span {
  color: #BBBBBB !important;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Request Counselling Session Page - Level 3 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.timeslot__wrapper{
  padding-top: 100px;
}

@media (min-width: 1024px) {
  .timeslot__wrapper{
    padding-top: 100px;
  }
}

.timeslot__wrapper #firstrow{
  margin-bottom: 30px !important;
  margin-left: -5vw;
  position: fixed;
  background: white;
  z-index: 100;
  top: 200px;
}

@media (min-width: 768px) {
  .timeslot__wrapper #firstrow{
    margin-bottom: 94px !important;
    margin-left: unset;
    flex-wrap: nowrap;
    top: 240px;
  }
}

@media (min-width: 1024px) {
  .timeslot__wrapper #firstrow{
    flex-wrap: unset;
    width: 75vw;
    margin-bottom: 0 !important;
    margin-right: 0;
    top: 220px;
  }
}

@media (min-width: 1240px) {
  .timeslot__wrapper #firstrow{
    width: 850px;
  }
}

.timeslot__wrapper .smallertitle {
  font-size: 26px;
  position: fixed;
  z-index: 100;
  top: 80px;
  width: 100vw;
  background: white;
  padding-top: 50px;
  padding-bottom: 100px;
  height: 200px;
}

@media (min-width: 768px) {
  .timeslot__wrapper .smallertitle {
    font-size: 32px;
    height: unset;
    padding-top: 100px;
    padding-bottom: 30px;
  }
}


@media (min-width: 1024px) {
  .timeslot__wrapper .smallertitle {
    padding-top: 70px;
    top: 100px;
  }
}

.timeslot__wrapper #firstrow .first-row__column:first-child {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
  padding-right: 40px;
}

@media (min-width: 768px) {
  .timeslot__wrapper #firstrow .first-row__column:first-child {
    flex: 0 0 40% !important;
    max-width: 40% !important;
    margin-bottom: 0;
    padding-right: 80px;
  }
}

@media (min-width: 1024px) {
  .timeslot__wrapper #firstrow .first-row__column:first-child {
    flex: 0 0 41.66667% !important;
    max-width: 41.66667% !important;
    padding-left: 0px;
    padding-right: 15px;
  }
}

.timeslot__wrapper #firstrow .first-row__column:nth-child(2) {
  flex: 0 0 100% !important;
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: -20px;
}

@media (min-width: 768px) {
  .timeslot__wrapper #firstrow .first-row__column:nth-child(2) {
    flex: 0 0 60% !important;
    max-width: 60% !important;
    margin-left: unset;
  }
}

@media (min-width: 1024px) {
  .timeslot__wrapper #firstrow .first-row__column:nth-child(2) {
    flex: 0 0 58.33333% !important;
    max-width: 58.33333% !important;
  }
}

#weeklyslider{
  flex-wrap: nowrap;
}

@media (min-width: 768px) {
  #weeklyslider{
    flex-wrap: wrap;
    margin-left: 0;
  }
}

#dayscontainer{
  padding-left: 0;
  padding-right: 0;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  #dayscontainer{
    padding: 0!important;
    margin: 0!important;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
}

@media (min-width: 1024px) {
  #dayscontainer{
    padding-left: 0px !important;
    padding-right: 15px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
}

#dayscontainer #dayslist li {
  margin-right: 0;
  width: 52px;
}

@media (min-width:  768px) {
  #dayscontainer #dayslist li {
    margin-right: 0;
    width: 50px;
  }
}

@media (min-width: 1024px) {
  #dayscontainer #dayslist li {
    margin-right: 5px;
    width: 56px;
  }
}

@media (min-width: 1240px) {
  #dayscontainer #dayslist li {
    margin-right: 10px;
    width: 60px;
  }
}

#dayscontainer #dayslist li a span {
  font-size: 14px;
}

@media (min-width: 1024px) {
  #dayscontainer #dayslist li a span {
    font-size: 18px;
  }
}

#dayscontainer .navigationlink {
  margin-left: 20px;
}

.hour--listcontainer{
  display: flex;
  margin-left: -27px;
}

@media (min-width: 768px) {
  .hour--listcontainer{
    display: contents;
    margin-left: unset;
  }
}

.hour--listcontainer .hour--list{
  padding: 0 !important;
  margin-left: 0 !important;
  margin-right: 5px !important;
  flex-basis: 10%;
}

.hour--listcontainer .hour--list li{
  width: 54px;
}

@media (min-width: 1024px) {
  .hour--listcontainer .hour--list li{
    width: unset;
  }
}

.hour--listcontainer .hour--list .hour{
  width: 54px;
  font-size: 14px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .hour--listcontainer .hour--list .hour{
    width: 55px;
    font-size: 16px;
    padding: 12px;
  }
}

@media (min-width: 1240px) {
  .hour--listcontainer .hour--list .hour{
    width: 66px;
  }
}

.hour--listcontainer .hour--list.first{
  margin-left: 0 !important;
  padding: 0 !important;
}

@media (min-width: 768px) {
  .hour--listcontainer .hour--list.first{
    margin-left: 45px !important;
  }
}

#slotrow {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

@media (min-width: 768px) {
  #slotrow {
    display: unset;
    flex-direction: unset;
    margin-top: unset;
  }
}

#slotrow > div {
  flex-basis: 100vh;
}

@media (min-width: 667px) {
  #slotrow > div {
    flex-basis: 160vh;
    }
}

@media (min-width: 768px) {
  #slotrow > div {
    flex-basis: unset;
    margin-top: 100px;
  }
}

#slotrow > div > .slot-row__column:first-child {
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 150px;
}

@media (min-width: 768px) {
  #slotrow > div > .slot-row__column:first-child {
    flex: 0 0 33%;
    max-width: 33%;
    max-height: unset;
  }
}

@media (min-width: 1024px) {
  #slotrow > div > .slot-row__column:first-child {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
}

#slotrow > div > .slot-row__column:nth-child(2) {
  flex: 0 0 100%;
  max-width: 100%;
  position: unset;
  margin-top: 0;
}

@media (min-width: 768px) {
  #slotrow > div > .slot-row__column:nth-child(2) {
    flex: 0 0 67%;
    max-width: 67%;
  }
}

@media (min-width: 1024px) {
  #slotrow > div > .slot-row__column:nth-child(2) {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

.provider-detail__column{
  display: inherit;
}

.provider-detail__column .profileimage--container{
  width: 80px;
  height: 80px;
  position: absolute;
}

@media (min-width: 1024px) {
  .provider-detail__column .profileimage--container{
    width: 135px;
    height: 135px;
    position: unset;
  }
}

.rightcolumn > .counselorname{
  display: none;
}

@media (min-width: 768px) {
  .rightcolumn > .counselorname{
    display: block;
  }
}

@media (min-width: 768px) {
  .provider-detail__wrapper .providerdetail{
    display: flex !important;
  }
}

.providerdetail__mobile__column {
  display: block;
}

@media (min-width: 768px) {
  .providerdetail__mobile__column {
    display: none;
  }
}

.providerdetail__mobile__column .showdetail-button{
  margin-top: 0;
}

.providerdetail__mobile__column .showdetail-button .arrow{
  filter: invert(30%) sepia(97%) saturate(355%) hue-rotate(122deg) brightness(92%) contrast(85%);
}

.providerdetail .rightcolumn{
  margin-left: 100px !important;
}

@media (min-width: 1024px) {
  .providerdetail .rightcolumn{
    margin-left: 25px!important;
  }
}

@media (min-width: 768px) {
  #firstavailable--dropdown{
    width: 230px;
  }
}

@media (min-width: 1024px) {
  #firstavailable--dropdown{
    width: 100%;
  }
}

#successbooked #message {
  font-size: 20px;
  font-family: "Nunito Sans", sans-serif;
}

@media (min-width: 768px) {
  #successbooked #message {
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
  }
}

#previousnavigation{
  padding-left: 35px;
}

@media (min-width: 768px) {
  #previousnavigation{
    padding-left: 15px;
  }
}

#preview___BV_modal_backdrop_{
  width: 150vw;
  height: 150vh;
}

#preview___BV_modal_content_{
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@media (min-width: 768px) {
  #preview___BV_modal_content_{
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
}

@media (min-width: 1024px) {
  #preview___BV_modal_content_{
    padding-right: 104px !important;
    padding-left: 104px !important;
  }
}

#preview___BV_modal_backdrop_ .apptable{
  padding-right: 0 !important;
}

#preview___BV_modal_content_ .preview-action__column{
  margin-top: 126px !important;
}

#successbooked___BV_modal_backdrop_{
  width: 150vw;
  height: 150vh;
}